.navbar {
    /* Display */
    display: flex;

    /* Layout */
    padding: 10px;

    /* Styles */
    background-color: #57A6FF;
    color: #FFFFFF;

    /* Font */
    font-size: 24px;
}

a.navbar {
    /* Styles */
    color: #FFFFFF;
}